:root {
    --attribute-display: none;
}

@font-face {
    font-family: 'Futura';
    src: local('Futura Bold'), local('Futura-Bold'),
        url('../fonts/FuturaLT-Bold.woff2') format('woff2'),
        url('../fonts/FuturaLT-Bold.woff') format('woff'),
        url('../fonts/FuturaLT-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Futura';
    src: local('Futura Regular'), local('Futura-Regular'),
        url('../fonts/FuturaLT.woff2') format('woff2'),
        url('../fonts/FuturaLT.woff') format('woff'),
        url('../fonts/FuturaLT.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Futura';
    src: local('Futura Condensed Light'), local('Futura-Condensed-Light'),
        url('../fonts/FuturaLT-CondensedLight.woff2') format('woff2'),
        url('../fonts/FuturaLT-CondensedLight.woff') format('woff'),
        url('../fonts/FuturaLT-CondensedLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }

.edit {
    display: none;
}

h1 {
    color: white;
    justify-content: center;
    font-family: 'Futura';
    font-weight: bold;
    font-size: 24pt;
}

a:visited { color: white; }
a:hover { color: darkgreen; }
a:active { color: white; }
a { color: white; }

ul {
    list-style: none;
    padding-left: 0px;
}

span.caption {
    justify-content: center;
}

body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    position: absolute;
    color: white;
    background-color: black;
    font-family: 'Futura';
    font-size: 12pt;
}

body div.container {
    padding: .5em;
}

div.background-color {
    background: linear-gradient(0deg, #101010FF 0%, #300000FF 100%);
    z-index: -101;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

div.background-image {
    background: url(../img/background-repeat.png);
    z-index: -100;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 15%;
}

body div.section {
    text-align: center;
}

body div img.header {
    width: 80%;
    image-rendering: pixelated;
}

iframe {
    border: 5px solid #500000;
}

div.content {
    display: flex;
    flex-direction: column;
}

div#sandwich div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: content;
}

div#sandwich div.label {
    text-align: left;
    font-size: 20pt;
    font-weight: bold;
    display: block;
}

div#sandwich div div.field {
    display: flex;
    flex-direction: column;
}

div#sandwich div div.attributes {
    display: var(--attribute-display);
    font-size: 10pt;
}

div#sandwich div div.attributes div {
    display: flex;
    flex-direction: column
}

div#sandwich div#results {
    flex-direction: column;
    font-weight: bold;
    font-size: 20pt;
}

div#sandwich div#results div.sum {
    flex-direction: column;
    display: var(--attribute-display);
}

table {
    font-family: monospace;
    font-weight: 300;
    font-size: 8pt;
}

select, button {
    margin: .5em;
    padding: .25em;
}

span.label {
    margin-right: 1em;
}

@media only screen and (max-width: 1000px) {
    h1 {
        font-size: 48pt;
    }

    body {
        font-size: 24pt;
    }

    div#sandwich div div.attributes {
        font-size: 20pt;
    }

    table {
        font-size: 16pt;
    }

    select, button {
        font-size: 24pt;
    }

    div#sandwich div.label {
        font-size: 36pt;
        text-align: center;
    }

    div#sandwich div div.field {
        flex: 1;
        flex-basis: 50%;
    }

    div#sandwich div#results {
        font-size: 36pt;
    }
}
