:root {
  --attribute-display: none;
}

@font-face {
  font-family: 'Futura';
  src: local('Futura Bold'), local('Futura-Bold'),
      url('/fonts/FuturaLT-Bold.woff2') format('woff2'),
      url('/fonts/FuturaLT-Bold.woff') format('woff'),
      url('/fonts/FuturaLT-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Futura';
  src: local('Futura Regular'), local('Futura-Regular'),
      url('/fonts/FuturaLT.woff2') format('woff2'),
      url('/fonts/FuturaLT.woff') format('woff'),
      url('/fonts/FuturaLT.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Futura';
  src: local('Futura Condensed Light'), local('Futura-Condensed-Light'),
      url('/fonts/FuturaLT-CondensedLight.woff2') format('woff2'),
      url('/fonts/FuturaLT-CondensedLight.woff') format('woff'),
      url('/fonts/FuturaLT-CondensedLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'Futura';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div.background-color {
  background: linear-gradient(0deg, #100505FF 0%, #200505FF 100%);
  z-index: -101;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

div.background-image {
  background: url(../res/img/background.png);
  z-index: -100;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 5%;
}