div.sandwich {
  display: inline;
  flex-direction: column;
  padding: .5em;
  background-color: #FFFFC0;
  border-radius: 16px;
  border: solid 4px black;
  width: 30em;
}

div.sandwich a {
  text-decoration: none;
  color: black;
  font-family: monospace;
}

div.sandwich div.title {
  background-color: white;
  border-radius: 16px;
  padding: .5em;
  border: solid 1px black;
}

div.sandwich div.title h3 {
  margin: 0px;
  font-family: 'Futura'
}
